@import 'core/reset';
@import 'core/animation';

html, body {
    background-color: #111;
    margin: 0;
    width:  100%;
    height: 100%;
    min-width:  100%;
    min-height: 100%;
    overflow: hidden;
    font-family: Helvetica, Arial, sans-serif;
}

main {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#loader {
    background-color: #EEE;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    @include transition(all, 0.5s, 0.215, 0.610, 0.355, 1.000);
}
